.product-body{
    display: grid;
    grid-template:  8.3rem 4fr 1fr/20rem 1fr 1fr 1fr; 
    row-gap: 1rem;
    grid-template-areas:
    "nav nav nav nav"
    ". main main main"
    "footer footer footer footer";
}
.product-aside{
    grid-area: sidebar;
    position: fixed;
    top: 7rem;
    max-width: 25rem;
    height: 100vh;
}
.product__main-content{
    grid-area: main;
}
.footer{
    grid-area: footer;
}
