@import url(../../App.css);
.body{
    display: grid;
    grid-template: 10rem 5fr 1fr/1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "nav nav nav nav nav"
    "main main main main main"
    "footer footer footer footer footer";
}
.container__main-content{
    grid-area:main;
}
.footer{
    grid-area: footer;
}
.wishlist-liked{
    padding: 3px 4px;
}
